################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test-project Unity/.vs/Test-project Unity/v15/Server/sqlite3/db.lock
